<h1>Editing Progress Note</h1>

<%= render 'form' %>

<%= link_to 'Show', patient_clinic_history_progress_notes_path(@patient,@clinic_history,@progress_note) %> |
<%= link_to 'Back', patient_clinic_history_progress_notes_path(@patient,@clinic_history,@progress_note) %>
