<br/><br/><br/><br/>

<div class="row">
<div class="full col-sm-9 full2">





    <span  class="btn btn-link btn-xs  pull-left pagination pagination"><h1 class="title">Epses</h1></span>


    <span class="btn btn-link btn-xs pull-right ">  <%= will_paginate @epses, renderer: BootstrapPagination::Rails %>
</span>

    <span  class="btn btn-link btn-xs  pagination pagination pull-right"><%= link_to 'Nueva Eps', new_eps_path, remote: true, :class => "btn  principal" %></span>



<div class="row new_blog">
<div class="col-md-6" id="task-form" style="display:none;"></div>
</div>







<div class="row">
  <div class="col-md-12 " id="tasks">
    <%= render partial: "display" %>
  </div>
</div>
</div>





                                    
             